{% extends "index.html" %} 

{% block content %}
<div class="card text-center">
	<div class="card-header">Featured</div>
	<div class="card-body">
		<h5 class="card-title">Welcome To The Amazing World of FryGames</h5>
		<p style="color: red;" class="card-text">CHANT WITH ME </p>
		<p style="color: red;" class="card-text">Hou ho xiu yi, si sei wu ma</p>
		<p style="color: red;" class="card-text">火佛修一，心薩嘸哞	</p>
		<a
			href="#"
			class="btn btn-primary"
			>INCANTATION</a
		>
	</div>
	<div class="card-footer text-body-secondary">2 days ago</div>
</div>
{% endblock %}
