{% extends "index.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Categories</h1>

    <!-- loop through categories to get all categories -->
    <div class="row">
        <div class="col-12">
            {% for category in categories %}
            <a href="{{ url_for('category_bp.view_category', category_id=category.category_id) }}" class="text-decoration-none">
                <div class="card category-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.category_name }}</h5>
                    </div>
                </div>
            </a>
            {% else %}
            <div class="alert alert-warning" role="alert">
                No categories found.
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br>
<br>

<!-- pagination -->
<div class="text-center">
    <div class="pagination d-inline-flex"></div>
        {% if page > 1 %}
        <a class="nav-link" href="{{ url_for('category_bp.view_all_categories', page=page-1) }}">Previous</a>

        {% endif %}

        <a class="nav-link ms-5" href="{{ url_for('category_bp.view_all_categories', page=page+1) }}">Next</a>
    </div>
</div>
{% endblock %}