{% extends "index.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Wishlist</h1>
    <div class="row">
        <div class="col-12">
            <form method="POST" action="{{ url_for('wishlist_bp.searchWishlist') }}">
                <div class="input-group rounded">
                    <input type="search" name="searchInput" class="form-control rounded" placeholder="Search by title or categories or developers" aria-label="Search" aria-describedby="search-addon" required/>
                    <button type="submit" class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
            <br>
            {% if search == False %}
                <table class="table">
                    {% if wishlist_game != [] %}
                        {% for i in wishlist_game %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('game_bp.view_game', game_id=i['game_id']) }}" class="text-decoration-none"><h5>{{ i["title"] }}</h5><a>
                                    <h6>Categories: 
                                        {% for c in i["categories"] %}
                                            {{ c }} |
                                        {% endfor %}</h6>
                                    <h6>Developers:
                                        {% for d in i["developers"] %}
                                            {{ d }} |
                                        {% endfor %}</h6>
                                    <h6>Date added: {{ i["added_date"] }}</h6>
                                </td>
                                <td>
                                    <a href="{{ url_for('wishlist_bp.deleteFromWishlist', game_id=i['game_id']) }}"><i class="fa fa-trash-o" style="font-size: 25px;"></i></a>
                                </td>
                            <tr>
                        {% endfor %}
                    </table>
                    {% else %}
                        <h3>No games in wishlist yet.</h3>
                    {% endif %}
            {% elif search == True %}
                <div class="row">
                    <div class="col-10">
                        <h4>Search results for '{{ string }}':</h4>
                    </div>
                    <div class="col-2">
                        <a type="button" href="{{ url_for('wishlist_bp.viewWishlist') }}" class="btn btn-light">Clear Search</a>
                    </div>
                </div>
                <br>
                <table class="table">
                    {% if searchResult %}
                        {% for i in searchResult %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('game_bp.view_game', game_id=i['game_id']) }}" class="text-decoration-none"><h5>{{ i["title"] }}</h5><a>
                                        <h6>Categories: 
                                            {% for c in i["categories"] %}
                                                {{ c }} |
                                            {% endfor %}</h6>
                                        <h6>Developers:
                                            {% for d in i["developers"] %}
                                                {{ d }} |
                                            {% endfor %}</h6>
                                        <h6>Date added: {{ i["added_date"] }}</h6>
                                </td>
                                <td>
                                    <a href="{{ url_for('wishlist_bp.deleteFromWishlist', game_id=x) }}"><i class="fa fa-trash-o" style="font-size: 25px;"></i></a>
                                </td>
                            <tr>
                        {% endfor %}
                    {% else %}
                        <h3>No Result Found.</h3>
                    {% endif %}
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}