{% extends "index.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Wishlist</h1>

    <div class="row">
        <div class="col-12">
            <table class="table">
                {% for i in wishlist %}
                    <tr>
                        <td>
                            <a href="{{ url_for('game_bp.view_game', game_id=i[4]) }}" class="link-underline-dark"><h5>{{ i[1] }}</h5><a>
                            <h6>Date Added: {{ i[2] }}</h6>
                        </td>
                        <td>
                            <a href="{{ url_for('wishlist_bp.deleteFromWishlist', user_id=i[3], game_id=i[4]) }}"><i class="fa fa-trash-o" style="font-size: 25px;"></i></a>
                        </td>
                    <tr>
                {% endfor %}
            </table>
        </div>
        <a type="button" href="{{ url_for('wishlist_bp.searchWishlist') }}" class="btn btn-primary">test search</a>
        <h5>Search results for 'Medal' and 'God':</h5>
        {% for x in searchResult %}
        <h6>{{x}}</h6>
        {% endfor %}
    </div>
</div>
{% endblock %}