{% extends "index.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Game Reviews</h1>

    <div class="row">
        <div class="col-12">
            {% for review in reviews %}
            <div class="card review-card">
                <div class="card-body">
                    <h5 class="card-title">This one user id: {{ review.user_id }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> this one review id: {{ review.review_id }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ review.review_date }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">this one game name:{{ review.game_id }}</h6>
                    <p class="card-text">This one review text {{ review.review_text }}</p>
                </div>
            </div>
            {% else %}
            <div class="alert alert-warning" role="alert">
                No reviews found.
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}