{%extends "index.html" %}
{% block content %}

<h1 class="text-center">Games Purchased</h1>

<div class="row">
    <div class="col-12">
        <table class="table">
            {% if owned_game != [] %}
                {% for i in owned_game %}
                <tr>
                    <td style="width: 200px; height: 133px; text-align: center;">
                        <img class="card-img-top" 
                            src="{{ i.image if i.image else url_for('static', filename='img/default_game.jpeg') }}" 
                            alt="{{ i.title }}" 
                            style="height: 100%; width: 100%; object-fit: cover; aspect-ratio: 3 / 2; border-radius: 5px;"/>
                    </td>
                    <td>
                        <!-- game details to display -->
                        <h6>Game Title: {{ i["title"] }}</h6>
                        <h6>Purchase Date: {{ i["purchase_date"] }}</h6>
                        <h6>Hours Played: {{ i["hours_played"] }}</h6>
                    
                        {% if current_id == session['_id'] %}
                        <!-- Delete Button -->
                        <a href="{{ url_for('owned_game_bp.delete_owned_game', game_id=i['game_id']) }}"
                        class="btn btn-danger btn-sm">Delete</a>
                        {% endif %}
                        
                    </td>
                <tr>
                {% endfor %}
        </table>
            {% else %}
            <h3>No games purchased yet.</h3>
            {% endif %}
    </div>
</div>
{% endblock %}
