{% extends "index.html" %}
{% block content %}
<div class="container mt-5">
    <h1>{{ game.game_title }}</h1>
    <h5><strong>Developed By:</strong>
    {% for developer in developers %}
        <a href="{{ url_for('developer_bp.view_developer', developer_id=developer.developer_id) }}" class="text-decoration-none">
            {{ developer.developer_name }}{% if not loop.last %}, {% endif %}
        </a>
    {% endfor %}
    </h5>
    <h5><strong>Release Date:</strong> {{ game.game_release_date }}</h5>
    <h5><strong>Price:</strong> ${{ game.game_price }}</h5>
    <h5><strong>Categories:</strong>
        {% for category in categories %}
        <a href="{{ url_for('category_bp.view_category', category_id=category.category_id) }}" class="text-decoration-none">
            {{ category.category_name }}{% if not loop.last %}, {% endif %}
        </a>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No categories found.
        </div>
    </h5>
    {% endfor %}
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm">
            <form method="POST" action="{{ url_for('wishlist_bp.addToWishlist') }}">
                <input type="text" name="game" value="{{ game.game_id }}" hidden>
                <button type="submit" class="btn btn-light"
                {% if gameInWishlist %} disabled {% endif %}>
                {% if gameInWishlist %} Already Added to Wishlist
                {% else %} Add to Wishlist 
                {% endif %}
                </button>
            </form>
            <br>
            <form method="POST" action="{{ url_for('owned_game_bp.add_owned_game') }}">
                <!-- <input type="text" name="user" value="u20" hidden> -->
                <input type="text" name="game" value="{{ game.game_id }}" hidden>
                <button type="submit" class="btn btn-outline-primary">Add to Owned Games</button>
            </form>
        </div>
    </div>
</div>

<!--Show Reviews-->
<!-- Show Reviews -->
<div class="container">
    <h1>Reviews</h1>
    <div class="row">
        <div class="col">
            <h6>Recommended: {{ recommended_data.true_count }}</h6>
            <ul class="list-group">
                {% for review in reviews if review.recommended == "RECOMMENDED" %}
                    <div class="card review-card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">User: {{ review.user_id }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Review ID: {{ review.review_id }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Date: {{ review.review_date }}</h6>
                            <p class="card-text">{{ review.review_text }}</p>
                            <span class="text-success">Recommended</span>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <h6>Not Recommended: {{ recommended_data.false_count }}</h6>
            <ul class="list-group">
                {% for review in reviews if review.recommended == "NOT RECOMMENDED" %}
                    <div class="card review-card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">User: {{ review.user_id }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Review ID: {{ review.review_id }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Date: {{ review.review_date }}</h6>
                            <p class="card-text">{{ review.review_text }}</p>
                            <span class="text-danger">Not Recommended</span>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
