{% extends "index.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Game Details Section -->
        <div class="col-md-8">
            <h1>{{ game.game_title }}</h1>
            <h5><strong>Developed By:</strong>
                {% for developer in developers %}
                <a href="{{ url_for('developer_bp.view_developer', developer_id=developer.developer_id) }}"
                   class="text-decoration-none">
                    {{ developer.developer_name }}{% if not loop.last %}, {% endif %}
                </a>
                {% endfor %}
            </h5>
            <h5><strong>Release Date:</strong> {{ game.game_release_date }}</h5>
            <h5><strong>Price:</strong> ${{ game.game_price }}</h5>
            <h5><strong>Categories:</strong>
                {% for category in categories %}
                <a href="{{ url_for('category_bp.view_category', category_id=category.category_id) }}"
                   class="text-decoration-none">
                    {{ category.category_name }}{% if not loop.last %}, {% endif %}
                </a>
                {% else %}
                <div class="alert alert-warning" role="alert">
                    No categories found.
                </div>
                {% endfor %}
            </h5>
        </div>

        <!-- Buttons Section -->
        <div class="col-md-4 d-flex flex-column">
            <div class="mt-auto"> <!-- Align to bottom -->
            {% if user_logged_in %}
            <div class="d-flex flex-column">
                <form method="POST" action="{{ url_for('wishlist_bp.addToWishlist') }}" class="mb-2">
                    <input type="text" name="game" value="{{ game.game_id }}" hidden>
                    <button type="submit" class="btn btn-light" style="width: 210px;"
                            {% if gameInWishlist %} disabled {% endif %}>
                        {% if gameInWishlist %} Already Added to Wishlist
                        {% else %} Add to Wishlist
                        {% endif %}
                    </button>
                </form>
                {% if user_owned %}
                <a href="{{ url_for('owned_game_bp.delete_owned_game', game_id=game.game_id) }}"
                    class="btn btn-danger" style="width: 210px; ">Delete</a>
                {% else %}
                <form method="POST" action="{{ url_for('owned_game_bp.add_owned_game') }}">
                    <input type="text" name="game" value="{{ game.game_id }}" hidden>
                    <button type="submit" class="btn btn-light" style="width: 210px;">Purchase</button>
                </form>                
                {% endif %}
            </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>


<br>
<!-- Price History Graph -->
<div class="container mt-5" style="max-height: 350px;"> 
    <h3>Price History</h3>
    <canvas id="priceChart" ></canvas> <!-- Canvas height adjusted -->
</div>

<br>
<br>

<!-- Show Reviews -->
<div class="container">
    <h1>Reviews</h1>
    <div class="col">
        {% if user_owned %}
            {% if get_user_review %}
                <p>You already reviewed this game.</p>
                <div class="card review-card mb-3">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Date: {{ get_user_review[2] }}</h6>
                        <p class="card-text">{{ get_user_review[3] }}</p>
                        {% if get_user_review[4] == 'TRUE' %}
                        <span class="text-success">Recommended</span>
                        {% else %}
                        <span class="text-danger">Not Recommended</span>
                        {% endif %}
                    </div>
                    <!-- Update Button -->
                    <div class="row">
                        <div class="col">
                            <a href="{{ url_for('review_bp.edit_reviews', game_id=game.game_id, review_id=get_user_review[0]) }}"
                               class="btn btn-warning btn-sm w-100">Update Review</a>
                        </div>
                        <div class="col">
                            <a href="{{ url_for('review_bp.delete_review', review_id=get_user_review[0], game_id=game.game_id, source ='game-page') }}"
                               class="btn btn-danger btn-sm w-100">Delete Review</a>
                        </div>
                    </div>
                </div>
            {% else %}
            <form method="GET" action="{{ url_for('review_bp.edit_reviews', game_id=game.game_id) }}">
                <button type="submit" class="btn btn-primary">Add Review</button>
            </form>
            {% endif %}
        {% elif user_logged_in %}
        <div class="alert alert-warning" role="alert">
            You can only leave a review after purchasing the game.
        </div>
        {% endif %}
    </div>

    <!-- Recommended and Not Recommended Reviews Section -->
    <div class="row">
        <div class="col-sm">
            <h6>Recommended: {{ recommended_data.true_count }}</h6>
            <ul class="list-group">
                {% for review in reviews if review.recommended == "RECOMMENDED" %}
                <div class="card review-card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">User: {{ review.user_id }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Review ID: {{ review.review_id }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Date: {{ review.review_date }}</h6>
                        <p class="card-text">{{ review.review_text }}</p>
                        <span class="text-success">Recommended</span>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm">
            <h6>Not Recommended: {{ recommended_data.false_count }}</h6>
            <ul class="list-group">
                {% for review in reviews if review.recommended == "NOT RECOMMENDED" %}
                <div class="card review-card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">User: {{ review.user_id }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Review ID: {{ review.review_id }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Date: {{ review.review_date }}</h6>
                        <p class="card-text">{{ review.review_text }}</p>
                        <span class="text-danger">Not Recommended</span>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Price history graph -->
<script>
    var ctx = document.getElementById('priceChart').getContext('2d');

    // Calculate the minimum price from the prices array
    var minPrice = Math.min(...{{ prices | tojson }});

    var priceChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ dates | tojson }},
            datasets: [{
                label: 'Price (in $)',
                data: {{ prices | tojson }},
                borderColor: 'rgba(75, 192, 192, 1)',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                fill: true,
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,  // Allow custom height
            scales: {
                y: {
                    beginAtZero: false,  // Ensure it does not start at 0
                    min: minPrice - 0.1, // Set the minimum value for the Y-axis
                    title: {
                        display: true,
                        text: 'Price (in $)',
                        color: 'white' // Change Y-axis title to white
                    },
                    ticks: {
                        color: 'white' // Change Y-axis ticks to white
                    }
                },
                x: {
                    ticks: {
                        color: 'white' // Change X-axis ticks to white
                    }
                }
            },
            plugins: {
                legend: {
                    labels: {
                        color: 'white' // Change legend label color to white
                    }
                }
            }
        }
    });
</script>
{% endblock %}
