<!-- Just an image -->
<nav class="navbar navbar-dark bg-dark shadow-lg">
    <a class="navbar-brand" href="#">
      <img src=" {{ url_for('static', filename='img/fries.png') }} " width="50" height="50" alt=""> Fry
    </a>

    <div class="ml-auto"></div>
      <a class="btn btn-outline-light" href="{{ url_for('home') }}">Home</a>
      <a class="btn btn-outline-light" href="{{ url_for('viewGames') }}">Games</a>
      <a class="btn btn-outline-light" href="{{ url_for('review_bp.check') }}">Reviews</a>
      <a class="btn btn-outline-light" href="{{ url_for('friend_bp.updatefriends') }}">Friends</a>
    </div>
  </nav>