{% extends "index.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Developers</h1>

    <div class="row">
        <div class="col-12">
            {% for developer in developers %}
            <a href="{{ url_for('developer_bp.view_developer', developer_id=developer.developer_id) }}" class="text-decoration-none">
                <div class="card developer-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ developer.developer_name }}</h5>
                    </div>
                </div>
            </a>
            {% else %}
            <div class="alert alert-warning" role="alert">
                No developers found.
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="pagination"></div>
    {% if page > 1 %}
    <a class="nav-link" href="{{ url_for('developer_bp.view_all_developers', page=page-1) }}">Previous</a>

    {% endif %}

    <a class="nav-link" href="{{ url_for('developer_bp.view_all_developers', page=page+1) }}">Next</a>

</div>
{% endblock %}