{% extends "index.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Search Your Friend</h1>

    <div class="row">
        <div class="col-12">
            <div class="card text-center p-3">
                <form method="POST" action="{{ url_for('friendlist_bp.add_friend') }}">
                        <div class="d-flex justify-content-center">
                            <input id="friend" name="friend" type="text" class="form-control" placeholder="Enter Your Friend's Profile Name">
                            <input type="text" name="user" value="u2" hidden>
                            <button type="submit" class="btn btn-outline-primary">Add Friend</button>
                        </div>
                    </form>
                    <a class="btn btn-primary ms-auto" href="{{ url_for('friendlist_bp.view_friends') }}"> Back</a>
            </div>
        </div>
    </div>

{% endblock %}